body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  
  letter-spacing: 1px;
}

.content {
  width: max-content;
  margin: 0 auto;
}

.slider {
  margin-bottom: 20px;

  &__label {
    display: block;
    width: max-content;
    padding: 3px 0;
  }

  &__container {
    width: 300px;
  }

  &_vertical-single,
  &_vertical,
  &_vertical-resizable {
    .slider__container {
      height: 200px;
    }
  }

  &_horizontal-resizable {
    .slider__container {
      min-width: 100px;
      padding: 10px;
      border: 2px solid black;
      resize: horizontal;
      overflow: hidden;
    }
  }

  &_vertical-resizable {
    .slider__container {
      min-height: 100px;
      padding: 10px;
      border: 2px solid black;
      resize: vertical;
      overflow: hidden;
    }
  }
}
