.slider {
  &__label {
    display: block;
  }

  &__container {
    width: 300px;
    height: 200px;
  }

  &_horizontal-resizable {
    .slider__container {
      min-width: 100px;
      padding: 10px;
      border: 2px solid black;
      resize: horizontal;
      overflow: auto;
    }
  }

  &_vertical-resizable {
    .slider__container {
      min-height: 100px;
      padding: 10px;
      border: 2px solid black;
      resize: vertical;
      overflow: auto;
    }
  }
}
