doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h1 Tslider

    .slider.slider_horizontal
      .slider__container
        input.slider__target(type="text")
      .slider__config-panel
        label.slider__label Min value: 
          input.slider__min-value(type="text")
        label.slider__label Max value: 
          input.slider__max-value(type="text")
        label.slider__label From value: 
          input.slider__from-value(type="text")
        label.slider__label To value: 
          input.slider__to-value(type="text")
        label.slider__label Show labels
          input.slider__show-labels(type="checkbox" checked)
        label.slider__label Show ruler
          input.slider__show-ruler(type="checkbox" checked)
        
    .slider.slider_vertical
      .slider__container
        input.slider__target(type="text")
      .slider__config-panel
        label.slider__label Min value: 
          input.slider__min-value(type="text")
        label.slider__label Max value: 
          input.slider__max-value(type="text")
        label.slider__label From value: 
          input.slider__from-value(type="test")
        label.slider__label To value: 
          input.slider__to-value(type="text")
        label.slider__label Show labels
          input.slider__show-labels(type="checkbox" checked)
        label.slider__label Show ruler
          input.slider__show-ruler(type="checkbox" checked)