// TODO: create a scss config for slider
$track-border: 1px;
$track-border-radius: 3px;
$track-height: 5px;
$handle-size: 10px;
$label-width: 30px;
$label-height: 20px;
$label-padding: 3px;
$label-margin-from-track: 5px;

.tslider {
  display: grid;

  &_horizontal {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, max-content);

    & .tslider__track,
    & .tslider__handles,
    & .tslider__range {
      height: $track-height;

      grid-row: 2 / 3;
      grid-column: 1;
    }

    & .tslider__labels {
      margin-bottom: $label-margin-from-track;
    }

    & .tslider__ruler {
      margin-top: $label-margin-from-track;
    }
  }

  &_vertical {
    height: 100%;

    grid-template-columns: repeat(3, max-content);

    & .tslider__track,
    & .tslider__handles,
    & .tslider__range {
      width: $track-height;

      grid-row: 1;
      grid-column: 2 / 3;
    }

    & .tslider__labels {
      grid-row: 1;
      grid-column: 3 / 4;

      margin-left: $label-margin-from-track;
    }

    & .tslider__ruler {
      justify-items: end;
      margin-right: $label-margin-from-track;
    }
  }

  &__track {
    border: $track-border solid rgba(31, 32, 65, 0.25);
    border-radius: $track-border-radius;
  }

  &__handles,
  &__labels,
  &__ruler {
    display: grid;
  }

  &__handle,
  &__label,
  &__ruler-node {
    grid-column: 1;
    grid-row: 1;
  }

  &__ruler {
    font-family: sans-serif;
    font-size: 8px;
    color: gray;
    user-select: none;
  }

  &__ruler-node {
    width: max-content;
    height: max-content;
  }

  &__handle {
    width: $handle-size;
    height: $handle-size;

    user-select: none;
    border-radius: 50%;
    
    border: 2px solid #fff;

    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &__range {
    box-sizing: border-box;

    border-radius: $track-border-radius;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &__label {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: $label-padding;

    width: max-content;
    height: max-content;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #fff;
    border-radius: 3px;
    font-family: sans-serif;
    user-select: none;
  }
}

.slider-container {
  width: 300px;
  height: 200px;
}

body {
  margin: 50px;
  display: flex;
}
