doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .slider-container.slider-container_vertical
      input.tsl-target(type="text")
    .slider-container.slider-container_horizontal
      input.tsl-target(type="text")
