.track {
  box-sizing: border-box;
  position: relative;
  width: 200px;
  height: 15px;
  background-color: blue;
}

.handle {
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}